/*!
	---------------------------------------
	Generales
	---------------------------------------
	*/

/*  Btn
	============================== */

.modal-aviso
	.modal-header
		background-color: #f2a654
		border-radius: .286rem .286rem 0 0
		.close
			color: $white
		h4.modal-title
			color: $white

header.header
	align-items: center
	// background-color: rgba(black,.45)
	display: flex
	height: 60px
	justify-content: center
	position: fixed
	right: 0
	top: 0
	width: 60px
	z-index: 9
	a.header-link
		align-items: center
		background-color: $white
		border-radius: 50%
		display: flex
		justify-content: center
		height: 48px
		width: 48px
		i.icon
			color: $secondary
			@extend .fs-38
			transform: scaleX(-1)

footer.footer
	// background-color: rgba($secondary,.3)
	bottom: 0
	left: 0
	padding-left: 32px
	position: fixed
	right: 0
	img.img-gepp
		margin-bottom: 32px
		width: 100px

.dashboard
	background-image: url('../images/bkgd.jpg')
	background-position: 50%
	background-repeat: no-repeat
	background-size: cover
	display: block
	position: relative
	width: 100%
	z-index: 2
	.contend
		min-height: 100vh
		width: 100%
	.dash-contend
		align-items: flex-start
		// background-color: rgba(red,.3)
		display: flex
		flex-wrap: wrap
		justify-content: center
		.dash-col
			// background-color: rgba(yellow,.2)
			display: flex
			min-height: 99vh
			&.dash-menu
				flex-direction: column
				justify-content: flex-end
				padding: 32px 32px 16vh
				width: 35%
				a
					border-radius: 30px
					box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
					display: flex
					justify-content: center
					margin-bottom: 12px
					padding: .675rem .75rem
					text-transform: uppercase
					width: 100%
			&.dash-sorteos
				align-items: center
				flex-direction: column
				padding-bottom: 60px
				padding-top: 60px
				width: 40%
				img
					max-width: 90%
					width: 530px
				ol
					text-align: center
					li
						color: $white
						&.one
							@extend .fs-36
							@extend .fw-regular
						&.two
							@extend .fs-40
							@extend .fw-bold
			
			&.dash-actions
				align-items: flex-end
				padding-bottom: 80px
				width: 25%
				.dash-actions-image
					align-items: center
					background-image: url('../images/login-btn-bkgd.png')
					background-position: center right
					background-repeat: no-repeat
					background-size: 220px
					display: flex
					height: 132px
					justify-content: flex-end
					padding-right: 16px
					width: 100%
					.btn.btn-primary
						border-radius: 30px
						@extend .fs-16
						@extend .fw-regular
						margin-bottom: 16px
						padding: .385rem .95rem
						text-transform: uppercase



.aviso-privacidad
	background-image: url('../images/bkkd-textos.jpg')
	background-position: 50%
	background-repeat: no-repeat
	background-size: cover
	display: block
	position: relative
	width: 100%
	z-index: 2
	.contend
		min-height: 100vh
		width: 100%
	.ap-contend
		align-items: flex-start
		// background-color: rgba(red,.3)
		display: flex
		flex-wrap: wrap
		justify-content: center
		.ap-title
			align-items: center
			display: flex
			justify-content: flex-start
			margin-top: 80px
			padding: 0 32px
			width: 100%
			img
				height: 120px
				margin-right: 2vw
			h2
				color: $white
				@extend .fw-bold
				line-height: 1
				text-transform: uppercase
				
				.ap-title-privacidad
					display: block

				.ap-title-aviso
					font-size: 4.3rem
				.ap-title-de
					@extend .fs-34
				.ap-title-privacidad
					font-size: 3rem

		.ap-textos
			display: flex
			flex-direction: column
			height: 40vh
			margin: 3vh auto 0
			max-width: 80%
			padding: 4px 16px
			overflow-y: auto
			width: 630px
			p
				color: rgba($white,.75)
				@extend.fs-16
				font-style: italic
				letter-spacing: 1px
				line-height: 1.6
				margin-bottom: 32px
				text-align: justify


.terminos-condiciones
	background-image: url('../images/bkkd-textos.jpg')
	background-position: 50%
	background-repeat: no-repeat
	background-size: cover
	display: block
	position: relative
	width: 100%
	z-index: 2
	.contend
		min-height: 100vh
		width: 100%
	.tc-contend
		align-items: flex-start
		// background-color: rgba(red,.3)
		display: flex
		flex-wrap: wrap
		justify-content: center
		.tc-title
			align-items: center
			display: flex
			justify-content: flex-start
			margin-top: 80px
			padding: 0 32px
			width: 100%
			img
				height: 120px
				margin-right: 2vw
			h2
				color: $white
				@extend .fw-bold
				line-height: 1
				text-transform: uppercase
				
				.tc-title-privacidad
					display: block

				.tc-title-aviso
					font-size: 4.3rem
				.tc-title-de
					@extend .fs-34
				.tc-title-privacidad
					font-size: 3rem
					letter-spacing: 2px
					margin-left: 16px

		.tc-textos
			display: flex
			flex-direction: column
			height: 40vh
			margin: 3vh auto 0
			max-width: 80%
			padding: 4px 16px
			overflow-y: auto
			width: 630px
			p
				color: rgba($white,.75)
				@extend .fs-16
				font-style: italic
				letter-spacing: 1px
				line-height: 1.6
				margin-bottom: 32px
				text-align: justify


.premios
	background-image: url('../images/bkgd-premios.jpg')
	background-position: 50%
	background-repeat: no-repeat
	background-size: cover
	display: block
	position: relative
	width: 100%
	z-index: 2
	.contend
		min-height: 100vh
		width: 100%
	.premios-contend
		align-items: flex-start
		// background-color: rgba(red,.3)
		display: flex
		flex-wrap: wrap
		justify-content: center
		.premios-title
			align-items: center
			display: flex
			justify-content: flex-start
			margin-top: 80px
			padding: 0 32px
			width: 100%
			img
				height: 120px
				margin-right: 2vw
			h2
				color: $white
				font-size: 3.6rem
				@extend .fw-bold
				line-height: 1
				text-transform: uppercase

		.premios-textos
			// background-color: rgba(red,.2)
			display: flex
			flex-direction: column
			// height: 40vh
			margin: 0 auto
			max-width: 80%
			padding: 4px 16px
			width: 830px
			.premios-textos-img
				display: flex
				justify-content: center
				position: relative
				p
					font-style: normal
					left: 8px
					position: absolute
					text-align: left
					top: 64px
					width: 306px
				img
					margin: 0 auto
					max-width: 90%
					width: 600px
			p
				color: $white
				@extend .fs-16
				@extend .fw-bold
				font-style: italic
				letter-spacing: 1px
				line-height: 1.6
				margin-bottom: 12px
				text-align: center

	
.ganadores
	background-image: url('../images/bkgd-ganadores.jpg')
	background-position: 50%
	background-repeat: no-repeat
	background-size: cover
	display: block
	position: relative
	width: 100%
	z-index: 2
	.contend
		min-height: 100vh
		width: 100%
	.ganadores-contend
		align-items: flex-start
		// background-color: rgba(red,.3)
		display: flex
		flex-wrap: wrap
		justify-content: center
		.ganadores-title
			align-items: center
			display: flex
			justify-content: flex-start
			margin-top: 80px
			padding: 0 32px
			width: 100%
			img
				height: 120px
				margin-right: 2vw
			h2
				color: $white
				@extend .fs-22
				@extend .fw-bold
				line-height: 1
				text-transform: uppercase
				span
					display: block

		.ganadores-textos
			// background-color: rgba(red,.2)
			display: flex
			flex-direction: column
			// height: 40vh
			margin: 0 auto
			max-width: 80%
			padding: 4px 16px
			width: 830px
			h3
				color: $white
				font-size: 3.4rem
				@extend .fw-bold
				line-height: 1
				margin-bottom: 32px
				text-align: center
				text-transform: uppercase

			.ganadores-textos-table
				background-color: $primary
				border: 5px dashed red
				border-radius: 8px
				box-shadow: inset 0px 0px 10px 1px rgba($black, 0.75)
				display: flex
				justify-content: space-between
				padding: 32px
				.ganadores-textos-table-td
					display: flex
					flex-direction: column
					width: 50%
					p
						color: $white
						@extend .fs-26
						@extend .fw-bold
						font-style: italic
						letter-spacing: 1px
						line-height: 1.6
						margin-bottom: 12px
						text-align: left


.testimonios
	background-image: url('../images/bkgd.jpg')
	background-position: 50%
	background-repeat: no-repeat
	background-size: cover
	display: block
	position: relative
	width: 100%
	z-index: 2
	.contend
		min-height: 100vh
		width: 100%
	.testimonios-contend
		align-items: flex-start
		// background-color: rgba(red,.3)
		display: flex
		flex-wrap: wrap
		justify-content: center
		.testimonios-title
			align-items: center
			display: flex
			justify-content: flex-start
			margin-top: 80px
			padding: 0 32px
			width: 100%
			img
				height: 120px
				margin-right: 2vw
			h2
				color: $white
				font-size: 3.6rem
				@extend .fw-bold
				line-height: 1
				text-transform: uppercase

		.testimonios-textos
			display: flex
			height: 40vh
			justify-content: space-between
			margin: 0 auto
			max-width: 90%
			position: relative
			overflow: hidden
			width: 1024px
			.testimonios-imagenes-col,
			.testimonios-videos-col
				display: flex
				flex-wrap: wrap
				height: 100%
				overflow-y: visible
				padding: 0 40px
				width: 50%

			.testimonios-imagenes-col

				.testimonios-imagenes-col-a
					margin-bottom: 24px
					margin-right: 10%
					width: 45%
					&:nth-child(2n + 2)
						margin-right: 0
					
					img
						max-width: 100%
						width: 100%

			
			.testimonios-videos-col
				
				.testimonios-imagenes-col-b
					margin-bottom: 24px
					width: 90%
					img
						max-width: 100%
						width: 100%


.login-page
	background-image: url('../images/bkkd-textos.jpg')
	background-position: 50%
	background-repeat: no-repeat
	background-size: cover
	display: block
	position: relative
	width: 100%
	z-index: 2
	.contend
		min-height: 100vh
		width: 100%
	.login-contend
		align-items: center
		// background-color: rgba(red,.3)
		display: flex
		flex-direction: column
		justify-content: flex-start
		.login-title
			align-items: center
			display: flex
			justify-content: flex-start
			margin: 0 auto
			max-width: 90%
			padding: 0 32px
			width: 1024px
			img
				width: 400px

		.login-form
			align-items: center
			// background-color: rgba(green,.3)
			display: flex
			flex-direction: column
			justify-content: center
			margin: 0 auto
			max-width: 90%
			position: relative
			overflow: hidden
			width: 580px

			h3
				color: $white
				font-size: 3rem
				@extend .fw-bold
				line-height: 1
				margin-bottom: 32px
				text-align: center
				text-transform: uppercase

			form
				width: 100%
				.form-group
					.form-control
						@extend .fs-22
						@extend .fw-regular
						@extend .fs-italic
						height: 3.75rem
						+placeholder
							font-style: italic
							font-weight: $bold

					&.has-error
						.help-block
							color: $error
							@extend .fs-14
							margin-top: 4px
							text-align: left
				
					&.form-group-actions
						align-items: center
						display: flex
						justify-content: center
						.btn.btn-primary
							@extend .fs-30
							@extend .fw-bold
							padding: .5rem 1.125rem
							text-transform: uppercase
							text-align: center

					&.form-group-check
						ul
							list-style: none
							text-align: center
							li
								align-items: center
								display: inline-block
								justify-content: center
								position: relative
								label
									margin-bottom: 0
								.styled-mask
									// background-color: rgba(blue,.7)
									bottom: 0
									cursor: pointer
									height: 100%
									left: 0
									position: absolute
									right: 0
									top: 0
									width: 100%
									z-index: 9

						.styled-checkbox 
							position: absolute // take it out of document flow
							opacity: 0 // hide it

							& + label 
								// background-color: rgba(red, .3)
								position: relative
								cursor: pointer
								padding: 0
								span
									color: $white
									@extend .fs-15
									@extend .fw-regular
									text-decoration: underline
									text-transform: uppercase
							

							// Box.
							& + label:before 
								content: ''
								margin-right: 10px
								display: inline-block
								vertical-align: middle
								width: 20px
								height: 20px
								background: $white
								border-radius: 3px
								margin-bottom: 3px
								

							// Box hover
							&:hover + label:before 
								background: rgba($primary,.65)
								

							// Box focus
							&:focus + label:before 
								box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12)
								

							// Box checked
							&:checked + label:before 
								background: $primary
								

							// Disabled state label.
							&:disabled + label 
								color: #b8b8b8
								cursor: auto
								

							// Disabled box.
							&:disabled + label:before 
								box-shadow: none
								background: #ddd
								

							// Checkmark. Could be replaced with an image
							&:checked + label:after 
								content: ''
								position: absolute
								left: 5px
								top: 12px
								background: white
								width: 2px
								height: 2px
								box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white
								transform: rotate(45deg)
								z-index: 4
